@media (max-width: 1200px) {
    body {
       background-color: rgb(0, 0, 0);
    }
    .fundo-video {
        display: none;
    }

    .container {
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
        gap: 30px;
    }
    .container .mario {
        max-width: 50%;
    }
    .container .informacoes {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .container .descricao {
        color: #ffffff;
        text-align: center;
    }
    .container .botao-trailer {
        background-color: #ff0000;
    }
}

@media (max-width: 500px) {
    .cabecalho {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
    .container .imagem-titulo {
        max-width: 75%;
    }
    .modal .fechar-modal {
        width: 30px;
        line-height: 30px;
    }

    .conteudo-modal {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 50vh;
        border-radius: 5px;
        gap: 15px;
    }

    .modal #player {
        width: 300px;
        height: 130px;
    }
} 

@media (max-width: 376px) {
    .modal #player {
        width: 250px;
    }

    .playerselected {
        font-size: 25px;
    }
}